* {

    box-sizing: border-box;
}

body {
    font-family: "Arial";
    font-size: 20px;
    margin: 0;

}

nav {
    display: flex;
    background-color: grey;
}

nav a {
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 0.75rem;

}

/*.header {
    width: 800px;
    height: 500px;
    border: 1rem solid grey;
    background-color: grey;
}

.background {
    display: flex;

}
*/

.welcome {
    background-color: grey;
    padding: 1rem;

}

section.welcome {
    background-color: yellow;
    padding: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e0e0e0 url("../img/welcome.jpg") center center/cover no-repeat scroll;
}

section.welcome h1 {
    font-size: 4em;
    font-weight: normal;
}

section.welcome .subtitle {
    font-size: 2em;
    color: black;
}
